# maven ignore
**/target/

# eclipse ignore
.metadata/
**/.settings/
**/.project
**/.classpath
**/.buildpath
RemoteSystemsTempFiles/

# idea ignore
*.ipr
*.iml
.idea
*.iws
# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
**/Thumbs.db
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz
